<div class="tooltip-wrapper@(TextStyle?" tooltip-wrapper-text":"") @CssClass">
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <span>
            @foreach (string s in Text.Split("\n"))
            {
                @s
                <br />
            }
        </span>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; } = string.Empty;
    [Parameter]
    public bool TextStyle { get; set; } = false;
    [Parameter]
    public string CssClass { get; set; } = string.Empty;
}